table {
    border-collapse: collapse;
    width: 88%;
}
.wow {
    background-color: deepskyblue;
}
.hebat {
    background-color: lightskyblue;
}
.bisa {
    background-color: skyblue;
}
.kuat {
    background-color: lightskyblue;
}
.warna {
    background-color: skyblue;
}
button {
    background-color: green;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 1spx;
    margin-left: 190px;
    height: 30px;
}